button{
	width:100px;
	height:100px;
}

label{
    font-size: 200%;
}

#simon_game{
      display: inline-block;
      }

      .inline{
          display: inline-block;
      }

      #start_butt{
          /*display: inline-block;*/
          visibility: hidden;
          margin-left: 300px;
          margin-bottom: 100px;
              border: 2px solid;
    border-radius: 25px;
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;

      }

      #massage{
        font-size: 200%;
        color:green;
        visibility: hidden;
    }

    #levelId{
        font-size: 200%;
    }

    #game_button_1{
       background-color:blue;
       border-radius: 100px 0 0 0;
       -moz-border-radius: 100px 0 0 0;
       -webkit-border-radius: 100px 0 0 0;
   }

   #game_button_2{
       background-color:green;
       border-radius: 0 100px 0 0;
       -moz-border-radius: 0 100px 0 0;
       -webkit-border-radius: 0 100px 0 0;
   }

   #game_button_3{
       background-color:yellow;
       border-radius: 0 0 0 100px;
       -moz-border-radius: 0 0 0 100px;
       -webkit-border-radius: 0 0 0 100px;

   }

   #game_button_4{
       background-color:red;
       border-radius: 0 0 100px 0;
       -moz-border-radius: 0 0 100px 0;
       -webkit-border-radius: 0 0 100px 0;
   }
